[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "*"
# NOTE: pip fails installing these packages as editable (-e), but pipenv needs it
shepherd-sheep = {editable = true, path = "./software/python-package"}
shepherd-herd = {editable = true, path = "./software/shepherd-herd"}
shepherd-cal = {editable = true, path = "./software/shepherd-calibration"}
shepherd-data = "*"
sync-analysis = {editable = true, path = "./software/debug_analyze_time_sync"}
# temporary
dearpygui = "*"
pre-commit = "*"

[dev-packages]
bump2version = "*"
pre-commit = "*"
# additional shepherd-packages
shepherd-sheep = {editable = true, extras = ["dev", "test"], path = "./software/python-package"}
shepherd-herd = {editable = true, extras = ["dev", "test"], path = "./software/shepherd-herd"}
shepherd-cal = {editable = true, extras = ["dev"], path = "./software/shepherd-calibration"}
shepherd-data = {extras = ["dev", "test"], version = "*"}
# DOCs
sphinx = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
sphinx-sitemap = "*"
sphinx-design = "*"
sphinx-copybutton = "*"
sphinxcontrib-typer = "*"
autodoc_pydantic = "*"
#sphinx-autodoc2  # TODO: https://myst-parser.readthedocs.io/en/latest/intro.html#extending-sphinx
myst-parser = "*"

[pipenv]
allow_prereleases = false
